@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');


.choose-animation {
    position: relative;
    z-index: 25;
    width: 100vw;
    height: 100vh;
    font-family: Comfortaa;
    font-size: 2.5em;
    color: white;
}

.choose-animation .need {
    position: absolute;
    background-color: #99d5c9;
    clip-path: polygon(0 0, 0 100%, 100% 0);
    width: 100%;
    height: 100%;
    transition: all 0.75s ease-out;
}

.choose-animation .want {
    position: absolute;
    background-color: #6c969d;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
    width: 100%;
    height: 100%;
    transition: all 0.75s ease-out;
}

.choose-animation .want span {
    position: absolute;
    bottom: 25%;
    right: 20%;
    transition: all 0.75s ease-out;
}

.choose-animation .need span {
    position: absolute;
    top: 25%;
    left: 20%;
    transition: all 0.75s ease-out;
}

.choose-animation .need:hover {
    z-index: 100;
    transition: all 0.75s ease-out;
}

.choose-animation .want:hover {
    z-index: 100;
    transition: all 0.75s ease-out;
}

.choose-animation .need:hover span {
    font-size: 1.5em;
}

.choose-animation .want:hover span {
    font-size: 1.5em;
}