@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');

.choose-animation {
    position: relative;
    width: 100vw;
    height: 100vh;
    font-family: Comfortaa;
    font-size: 2.5em;
    color: white;
}

.choose-animation .need {
    float: left;
    background-color: #99d5c9;
    clip-path: polygon(0 0, 0 100%, 100% 0);
    width: 100%;
    height: 100%;
}

.choose-animation .want{
    background-color: #6c969d;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
    width: 100%;
    height: 100%;
}

.choose-animation .want span {
    position: absolute;
    bottom: 25%;
    right: 20%;
}

.choose-animation .need span {
    position: absolute;
    top: 25%;
    left: 20%;
}