.sidenav {
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	padding-top: 0.5em;
	overflow-y: visible;
}

.sidenav a {
	padding: 0px 1rem;
	margin: 0.9em 0;
	width: fit-content;
	border-radius: 1em;
	text-decoration: none;
	font-family: 'Comfortaa';
	font-size: 1.7em;
	color: #fff;
	display: block;
	transition: 0.3s;
}

.sidenav_items {
	width: 0;
	height: 0;
	position: relative;
	right: -1em;
	overflow-x: hidden;
	transition: all 0.5s ease;
	padding-right: 1em;
}

.arrow {
	float: left;
	margin-right: 1em;
	margin-top: 1.1em;
	color: #fff;
	transition-delay: 0.35s;
}

.sidenav:hover .sidenav_items {
	width: 140px;
	height: 100%;
	position: static;
}

.sidenav:hover .arrow {
	transform: rotate(180deg);
	margin-right: 2em;
	margin-top: 1.1em;
	transition-delay: 0s;
}
